
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}

::before, ::after{
  position: absolute;
  content: '';
  margin: 0;
  padding: 0;
  display: block;
}

a{
  font-size: var(--fz-14);
  color: var(--color-links);
  font-weight: 500;
  transition: var(--transition-all);
  font-family: var(--font-main);
  cursor: pointer;
}

a:hover{
  color: var(--hover);
}

a:focus,
a:focus-within,
a:focus-visible{
  color: var(--focus);
}

p{
  font-size: var(--fz-14);
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: var(--line-height);
  color: var(--color-p);
  user-select: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-main);
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  text-wrap: wrap;
  color: var(--color);
  user-select: none;
}

.container{
  padding: var(--container);
}

button{
background-color: var(--color);
padding:var(--button) ;
color: var(--color-w);
font-size: var(--fz-14);
border: 0;
outline: 0;
cursor: pointer;
transition: background-color var(--transition);
}

button:hover{
  background-color: var(--hover);
}

:root{
  --bg-1:#fff;
  --color:#000;
  --color-w: #fff;
  --color-2:#1B1212;
  --color-p:#353935;
  --color-links:#28282B;
  --accent:#FF0000;
  --hover:#FF3131;
  --focus:#FF2400;
  /**-------Fonts Family ****/
  --font-main:'Josefin+Sans', sans-serif;
  --font-logo:'Parisienne', sans-serif;
  --font-inter:'Inter', sans-serif;
  /**** Spacing ***/
  --container: 0.75rem 1.8rem;
  --mobile: 0.50rem 0.8rem;
  --inner:0.625rem;
  --line-height:1.6;
  --mt: 1rem;
  --button: 0.85rem 2rem;
  --button-md:0.85rem 1.5rem;
  --blockquote: 0.625rem 1.5rem;
  /*** Font Sizes ****/
  --fz-12:12px;
  --fz-14:14px;
  --fz-16:16px;
  --fz-18:18px;
  --fz-20:20px;
  --fz-22:22px;
  --fz-24:24px;
  --fz-28:28px;
  --fz-30: 30px;
  --fz-34:34px;
  --fz-38:38px;
  /*** Transition ****/
  --transition: 300ms ease-in-out;
  --transition-all: all 200ms ease-in-out;
  --border-50: 50%;
  --border-50px:50px;
  --border-bottom: 1px solid #000;
  --border-10: 10px;
  --transparent-bg: hsl(0 0 100% / 0.12);
  --blur:30px;

  /*** Other Colors *****/
  --yellow: #fff500;
  --green: green;
  --orange: orange;
  --indigo: indigo;
}

section, main, div{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100vw; /* Ensure body takes full viewport width */
  max-width: 100%; /* Prevent body from exceeding viewport */
  box-sizing: border-box; /* Include padding and border in width calculations */
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

/**************CONTACT PAGE STYLING ****************/
.contact-banner{
  width: 100%;
  height: 20vh;
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-image: url(/public/assets/bg\ dark.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-icon i{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1px;
  font-size: var(--fz-28);
  color: var(--color-w);
  cursor: pointer;
  margin-right: var(--mt);
}

.contact-title{
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.contact-title h1{
  color: var(--color-w);
  font-size: var(--fz-28);

}

/************ CONTACT CONTENTS ****************************/
.contact-contents{
  --contact-bg: #fff;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 32%;
  left: 0;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--contact-bg);
}

.contact-container{
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

/**********CONTACT ADDRESS***************/
.address-box{
  max-width: 40vw;
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--mt);
  padding: 10px;
}

.address{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: calc(var(--mt)- 5px);
  width: 100%;
  height: 15vh;
}

.address-icon{
  margin-right: calc(var(--mt) + 3vw);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.address-icon i{
  font-size: var(--fz-18);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1px;
}

.adress-contents{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  -ms-flex-direction: column;
}

.adress-contents h3{
  font-size: var(--fz-18);

}

.adress-contents p{
color: var(--color-p);
font-size: var(--fz-14);
}


/**********CONTACT FORM***************/

.contact-form{
  max-width: 60vw;
  width: 100%;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -ms-flex-direction: column;
  background-color: hsl(0 0 100% / 0.4);

}

#contact-form{
  padding: var(--mobile);
  width: 100%;
  min-height: 35vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  -ms-flex-direction: column;
  gap: calc(var(--mt) * 2);
  border-radius: var(--border-10);
  background-color: hsl(0 0 100% / 0.2);
  backdrop-filter: blur(30px);
}

.form-title{
  font-size: var(--fz-28);
  color: var(--color);
  font-weight: 800;
  text-transform: capitalize;
}

#contact-form label{
  font-size: var(--fz-16);
  color: var(--color-p);
}

#contact-form input,
#contact-form textarea{
  width: 95%;
  border: none;
  outline: 0;
  background-color: transparent;
  border: 1px solid var(--color);
  transition: border 0.3s ease-in-out;
  padding: var(--mobile);
  font-family: var(--font-inter);
  font-size: var(--fz-14);
}

#contact-form input{
  padding: 10px;
}

#contact-form textarea{
  min-height: 20vh;
}


#contact-form input:focus,
#contact-form input:focus-visible,
#contact-form input:focus-within,
#contact-form textarea:focus,
#contact-form textarea:focus-visible,
#contact-form textarea:focus-within {
  border: 1px solid var(--accent);
}
