
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}

::before, ::after{
  position: absolute;
  content: '';
  margin: 0;
  padding: 0;
  display: block;
}

a{
  font-size: var(--fz-14);
  color: var(--color-links);
  font-weight: 500;
  transition: var(--transition-all);
  font-family: var(--font-main);
  cursor: pointer;
}

a:hover{
  color: var(--hover);
}

a:focus,
a:focus-within,
a:focus-visible{
  color: var(--focus);
}

p{
  font-size: var(--fz-14);
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: var(--line-height);
  color: var(--color-p);
  user-select: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-main);
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  text-wrap: wrap;
  color: var(--color);
  user-select: none;
}

.container{
  padding: var(--container);
}

button{
background-color: var(--color);
padding:var(--button) ;
color: var(--color-w);
font-size: var(--fz-14);
border: 0;
outline: 0;
cursor: pointer;
transition: background-color var(--transition);
}

button:hover{
  background-color: var(--hover);
}

:root{
  --bg-1:#fff;
  --color:#000;
  --color-w: #fff;
  --color-2:#1B1212;
  --color-p:#353935;
  --color-links:#28282B;
  --accent:#FF0000;
  --hover:#FF3131;
  --focus:#FF2400;
  /**-------Fonts Family ****/
  --font-main:'Josefin+Sans', sans-serif;
  --font-logo:'Parisienne', sans-serif;
  --font-inter:'Inter', sans-serif;
  /**** Spacing ***/
  --container: 0.75rem 1.8rem;
  --mobile: 0.50rem 0.8rem;
  --inner:0.625rem;
  --line-height:1.6;
  --mt: 1rem;
  --button: 0.85rem 2rem;
  --button-md:0.85rem 1.5rem;
  --blockquote: 0.625rem 1.5rem;
  /*** Font Sizes ****/
  --fz-12:12px;
  --fz-14:14px;
  --fz-16:16px;
  --fz-18:18px;
  --fz-20:20px;
  --fz-22:22px;
  --fz-24:24px;
  --fz-28:28px;
  --fz-30: 30px;
  --fz-34:34px;
  --fz-38:38px;
  /*** Transition ****/
  --transition: 300ms ease-in-out;
  --transition-all: all 200ms ease-in-out;
  --border-50: 50%;
  --border-50px:50px;
  --border-bottom: 1px solid #000;
  --border-10: 10px;
  --transparent-bg: hsl(0 0 100% / 0.12);
  --blur:30px;

  /*** Other Colors *****/
  --yellow: #fff500;
  --green: green;
  --orange: orange;
  --indigo: indigo;
}

section, main, div{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100vw; /* Ensure body takes full viewport width */
  max-width: 100%; /* Prevent body from exceeding viewport */
  box-sizing: border-box; /* Include padding and border in width calculations */
}



/****************SERVICES SECTION **************/
.services-container{
 max-width: 100%;
 width: 100%;
 min-height: 80vh;
 box-sizing: border-box;
 overflow: hidden;
 display: flex;
 margin-top: calc(var(--mt) * 7);
}

.services-box{
  flex: 1;
  align-items: center;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  display: flex;
  gap: calc(var(--mt) - 4px);
  /* background-color: red; */
}

.titles{
  user-select: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.short-title{
  font-size: var(--fz-28);
  font-family: var(--font-logo);
  font-weight: 400;
  opacity: 0.8;
}

.title{
  font-size: var(--fz-34);
  color: var(--accent);
  position: relative;
  font-weight: 800;
}

.title::after{
  width: 30%;
  right: -50%;
  top: 45%;
  background-color: var(--accent);
  height: 3px;
  transform: translate(-45%, -50%);
}

.services-description{
  font-size: var(--fz-12);
  text-transform: uppercase;
  color: var(--color-p);
  text-align: center;
  font-weight: 300;
  opacity: 0.7;
}

/**--Flexible cards ----- ***/
.flexible-cards{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(20vw, 1fr));
  grid-template-rows: repeat(2, minmax(30vh, 1fr));
  gap: 10px;
  margin-top: calc(var(--mt) * 2);
  padding: 20px;

}

.card{
  border-radius: var(--border-10);
  background: linear-gradient(to right, #f9f9f9 0%, #fff 100%);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.15),
               0px -3px 15px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: transform var(--transition), box-shadow var(--transition), background var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  gap: calc(var(--mt) - 4px);
  padding: var(--mt);
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
  background: linear-gradient(to right, #FFD6D7 0%, #f5f5f5 100%);
}

.card-image{
  width: 50px;
  height: 50px;
}

.card-image img{
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title,
.card-description{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  user-select: none;
}

.card-title h4{
  font-size: var(--fz-18);
  color: var(--color);
  text-align: center;
  text-wrap: wrap;
}

.card-description p{
  font-size: var(--fz-12);
  text-align: center;
  text-wrap: wrap;
  opacity: 0.8;
}



.button-services .services-cta{
  max-width: 100%;
  padding: var(--button-md);

}

.services-cta a{
  color: var(--color-w);
  font-family: var(--font-main);
}