:root{
  --bg-1:#fff;
  --color:#000;
  --color-w: #fff;
  --color-2:#1B1212;
  --color-p:#353935;
  --color-links:#28282B;
  --accent:#FF0000;
  --hover:#FF3131;
  --focus:#FF2400;
  /**-------Fonts Family ****/
  --font-main:'Josefin+Sans', sans-serif;
  --font-logo:'Parisienne', sans-serif;
  --font-inter:'Inter', sans-serif;
  /**** Spacing ***/
  --container: 0.75rem 1.8rem;
  --mobile: 0.50rem 0.8rem;
  --inner:0.625rem;
  --line-height:1.6;
  --mt: 1rem;
  --button: 0.85rem 2rem;
  --button-md:0.85rem 1.5rem;
  --blockquote: 0.625rem 1.5rem;
  /*** Font Sizes ****/
  --fz-12:12px;
  --fz-14:14px;
  --fz-16:16px;
  --fz-18:18px;
  --fz-20:20px;
  --fz-22:22px;
  --fz-24:24px;
  --fz-28:28px;
  --fz-30: 30px;
  --fz-34:34px;
  --fz-38:38px;
  /*** Transition ****/
  --transition: 300ms ease-in-out;
  --transition-all: all 200ms ease-in-out;
  --border-50: 50%;
  --border-50px:50px;
  --border-bottom: 1px solid #000;
  --border-10: 10px;
  --transparent-bg: hsl(0 0 100% / 0.12);
  --blur:30px;

  /*** Other Colors *****/
  --yellow: #fff500;
  --green: green;
  --orange: orange;
  --indigo: indigo;
}

/***************GUIMOOL QUERIES********************/

@media screen and (max-width: 1200px) {

  .guimool-container{
    --height: 150vh;
    min-height: var(--height);
    margin-bottom: calc(var(--mt) * 15);
  }

  #preview-message{
    width: 100vw;
    left: 0%;
  }

  #purchase-modal{
    width: 90vw;
  }

  #paypal-button-container{
    width: 90vw;
  }


}


@media screen and (max-width: 992px) {
 
  button{
    padding: var(--button-md);
  }
  /***************TRACKS CONTAINER**************/
  .tracks-container{
    width: 100%;
  }

  #menu-btn-2{
    margin-left: calc(var(--mt) * 2);
  }


  
}


@media screen and (max-width: 768px) {
 

  .nav-container{
    position: relative;
  }
  .nav-links-section{
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    height: 30vh;
    line-height: 2.2;
    background-color: #28282B;
    display: none;
  }

  .nav-links-section a{
    width: 100%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
  }

  .ajax-children-wrapper{
    top: 5%;
  }

  .top-singles-container{
   grid-template-columns: repeat(2, 1fr);
  }

  .top-single{
    width: 100%;
  }

  .song-title{
    font-size: var(--fz-18);
  }


}


@media screen and (max-width: 600px) {

  .top-singles-container{
    grid-template-columns: 1fr;
    place-items: center;
   }

   .top-single{
    width: 80%;
  }
  
  #top-artists{
    margin-top: var(--mt);
  }

 
 
}




@media screen and (max-width: 430px) {
  .guimool-container{
    padding: var(--inner);
  }

  .nav-container{
    padding: 0;
  }


  .logo{
    margin-right: calc(var(--mt) * 2);
  }

  .social-guimool i{
    font-size: var(--fz-16);
    margin-inline: calc(var(--mt) * 1);
  }

  .top-single{
    width: 80vw;
  }

 

}

@media screen and (max-width: 250px) {

  .top-singles-container{
    padding: 0;
  }
  
  #top-singles-cards{
    gap: var(--mt);
  }


}